* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
    background-color: lightseagreen;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.description {
    font-weight: 500;
    font-style: italic;
}

a {
    color: black;
}

.container {
    width: 50rem;
    margin: 0 auto;
}

li {
    margin-bottom: 8px;
}